.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrapper canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
