.square {
  width: 100px;
  height: 100px;
  background-color: #afa3d1;
  border: solid 1px #d7cef1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  border: solid 15px #453c62;
  box-sizing: border-box;
}

.cross {
  height: 80px;
  width: 80px;
  position: relative;
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  background-color: #ccff00;
  transform: rotate(45deg);
}

.cross::before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross::after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}
