@import 'https://fonts.googleapis.com/css?family=Poppins:400,500';

.outerDiv {
    margin: 0%;
    padding: 0%;
    display: flex;
    background-color: beige;
    font-family: Poppins;
    color: rgb(88, 30, 30);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
    height: 100vh;
}

.proof {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 17rem;
  overflow-wrap: break-word;
}

 .game-info {
  display: flex;
  flex-direction: column;
}
